.App {
  --header_height: 60px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.hw {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;
  margin-bottom: 30px;
}

.hwTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 24px;
}