.greetingForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputAndButtonContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.error {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cc0000;
  margin-top: 6px;
}

.input {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 100%;
  padding: 8px 12px;
  height: 36px;
}

.input:focus {
}

.errorInput {
  border: 1px solid #cc0000;
}

.inputAndError {
  max-width: 372px;
  width: 100%;
  margin-right: 12px;
}

.button {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 5px 24px;
  background: #0066cc;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}

.greeting {
}
